video#background-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(static/placeholder.jpg) no-repeat;
  background-size: cover;
}

.navbar-brand {
    float: left;
    height: auto;
    max-height: 3.5em;
    max-width: 80%;
    padding: 0px 0px;
    padding-left: 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    top: 1em;
}
