video#background-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(static/placeholder.jpg) no-repeat;
  background-size: cover;
}

.navbar-brand {
  max-width: 100%;
  max-height: 100%;
  padding: 0px 0px;
  padding-left: 15px;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    top: 1.5em;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
    font-family: Avenir;
    font-size: 1.65em;
    font-weight: 700;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.3);
}

.btn-default {
    font-family: Avenir;
    font-size: 1.65em;
    font-weight: 700;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0) !important;
    color: #aebad0 !important;
}